#APPLICATION NAME
APP_NAME=

#SERVER CONFIGURAITON
SERVER_HOST_PORT=
SERVER_HOST_PORT_SSL=

# DB CONFIGURAION
DB_USER=
DB_PASSWORD=
DB_NAME=
MYSQL_ROOT_PASSWORD=

#confgure smtp
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=